<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include("partials/_sidebar.ejs") %>
  <div class="d-flex">
    <%- include("partials/_header.ejs") %>
    <h1>Hello World!</h1>
  </div>
</body>

=======
  <%- include("partials/_basic_html_setup.ejs") %>
  <link rel="stylesheet" href="/styles/signIn_signUp.css">
  <link rel="stylesheet" href="/styles/sidebar.css" type="text/css">
</head>

<body>
  <%- include("partials/_header.ejs") %>

  <div class="d-flex justify-content-between">
    <%- include("partials/_sidebar.ejs") %>

    <div class="sign-inUp container">
      <h1>Hello World!</h1>
    </div>

    <div></div>
  </div>

  <%- include("partials/_footer_scripts.ejs") %>
</body>
>>>>>>> webpage/ejs-refactor
</html>
