<%- include("partials/_basic_html_setup.ejs") %>
<link rel="stylesheet" href="/styles/signIn_signUp.css">
<link rel="stylesheet" href="/styles/sidebar.css" type="text/css">
</head>

<body>
  <%- include("partials/_header.ejs") %>

  <div class="d-flex justify-content-between">
    <%- include("partials/_sidebar.ejs") %>

    <div class="sign-inUp container">
      <form class="container-fluid d-flex flex-column">
        <h1 class="mx-auto"><%= passwordInfo.app_list_name %></h1>
        <img class="mx-auto">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Username</span>
          </div>
          <input readonly id="get-username-text" type="text" class="form-control" value=<%= passwordInfo.username %>>
          <div class="input-group-append">
            <button onclick="copyToClipboard('#get-username-text')" type="button" class="btn btn-secondary"><i
                class="fas fa-clipboard"></i></button>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
          </div>
          <input readonly id="get-password-text" type="password" class="form-control" value=<%= passwordInfo.password %>>
          <div class="input-group-append">
            <button onclick="copyToClipboard('#get-password-text')" type="button" class="btn btn-secondary"><i
                class="fas fa-clipboard"></i></button>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center">
        <!-- <form method="POST" action="/passwords/<%= passwordInfo.id %>/reset">
          <div class="mx-3">
            <button class="btn btn-primary mb-2">Reset</button>
          </div>
        </form> -->
        <form method="POST" action="/passwords/<%= passwordInfo.id %>/delete">
          <div class="mx-3">
            <button class="btn btn-primary mb-2">Delete</button>
          </div>
        </form>
      </div>
      <div class="mb-3 mx-auto">
        <span>Last update: <%= passwordInfo.last_password_reset.toString().substring(0, 16) %></span>
      </div>
      <form action="/passwords/<%= passwordInfo.id %>/share" method="POST" class="container-fluid d-flex flex-column">
        <h1 class="mx-auto">Sharing</h1>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Share to</span>
          </div>
          <input type="text" name="share" class="form-control" placeholder="username" value="">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary"> <i class="fas fa-share"></i> Share </button>
          </div>
        </div>
      </form>
      <table class="table border bg-light mx-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for(let sharedAccess of sharedAccesses) { %>
          <tr>
            <th class="align-middle" scope="row"><%= sharedAccess.viewer_name %></th>
            <td class="text-right">
              <form method="POST" action="/passwords/<%= passwordInfo.id %>/share/<%= sharedAccess.viewer_id %>/delete">
                <button class="btn btn-danger "><i class="far fa-trash-alt"></i></button>
              </form>
            </td>
          </tr>
          <% } %>
          <tr>
        </tbody>
      </table>
    </div>

    <div></div>
  </div>

  <%- include("partials/_footer_scripts.ejs") %>

</body>

</html>
